* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import "_variables.scss";
@import "layout.scss";

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $white-colour;
}

h2, h3, h4, p {
    color: $black-color;
}

h2 {
    font-weight: 700;
    text-align: center;
    font-size: 2.25rem;
}

h4 {
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    font-size: 0.9rem;
    color: $grey-color;
}

a.donate-btn, a.signup-btn {
    padding: 15px 24px;
    background-color: $red-color;
    color: $white-colour;
}

header {
    position: absolute;
    width: 100%;
    padding: 12px 24px;

    .logo {
        font-size: 2rem;
        font-weight: 800;
        color: $white-colour;
    }

    button {
        appearance: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
        width: 1.5rem;
        height: 1.5rem;
        border: none;

        hr {
            width: 100%;
            // color: ;
            border: 1px solid $white-colour;
            margin: 3px 0;
        }
    }
}

body {
    // background-color: #E5E5E5;
}

section#about {
    background: no-repeat center/cover url(../img/fistmobile.png);
    padding: 100px 24px 43px 31px;

    p {
        color: $white-colour;
        margin: 19px 0;
    }

    div div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 3rem;

        a {
            color: $white-colour;
            font-weight: 700;
            
            &:first-of-type {
                margin-right: 26px;
            }
        }
    }

   .about__img {
       display: none;
   } 
}

div.endsars {
    padding: 0 9px;
    margin: 15px 0;
    p {
        text-align: center;
        font-size: 4.8rem;
        font-weight: 700;
        color: $black-color;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $black-color;

    }
}

section#wwaff {
    div {
        img {
            width: 100%;
        }

        &:nth-of-type(2) {
            padding: 44px 0 36px 0;
            background-color: $light-grey-color;

            div {
                padding: 0 43px 0 29px;
                p {
                    margin-top: 18.5px;
                }
            }
        }
    }
}

section#heroes-stories {
    div {
        img {
            width: 100%;
        }

        &:nth-of-type(2) {
            padding: 44px 0 90px 0;
            background-color: $light-grey-color;
            div {
                padding: 0 43px 0 29px;
                p {
                    margin-top: 18.5px;
                }
            }
        }
    }
}

section#demands {
    text-align: center;
    h3 {
        color: $red-color;
        font-weight: 700;
        font-size: 1.5rem;
    }

    ul {
        padding: 0 24px;
        padding-top: 26px;
        li {
            background-color: $light-grey-color;
            
            div {
                overflow: hidden;
                img {
                    width: 100%;
                }
            } 

            p {
                font-size: 1.3rem;
                margin-top: 16px;
                font-weight: 700;
                color: $black-color;
            }
        }
    }
}

section#protest-news {
    ul {
        padding: 58px 24px 50px 24px;
        
        li {
            div {
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            text-align: left;
            h4 {
                font-size: 2.01rem;
                font-weight: 700;
                margin: 23px 0 6.3px 0;
            }
            p {
                &:first-of-type {
                    color: $black-color;
                    margin-bottom: 7.25px;
                }
                a {
                    color: $black-color;
                    font-weight: 700;
                    &:hover {
                        color: $red-color;
                    }
                }
            }
        }
    }
}

section#newsletter {
    background: no-repeat center/cover url(../img/newsletterbgmobile.png);
    padding: 58px 24px 25px 24px;

    h3 {
        font-size: 2.25rem;
        color: $white-colour;
        font-weight: 700;
    }
    p {
        color: $white-colour;
        margin: 19px 0;
    }
    input {
        width: 18.9rem;
        height: 3rem;
        font-size: 1rem;
        padding: 15px 0;
        padding-left: 24px;
        margin-bottom: 19px;
        color: $grey-color;
        background-color: $white-colour;
        border: none;
    }
    a {
        display: inline-block;
    }
}

section#emer-contact {
    div {
        padding: 70px 24px 86px 24px;
        text-align: left;

        div {
            padding: 0;
            &:first-of-type {
                margin-bottom: 66px;
                h3 {
                    font-size: 3rem;
                    color: $red-color;
                    font-weight: 700;
                }
                div {
                    margin: 35px 0;
                    p {
                        margin: 30px 0;
                        font-weight: 700;
                        span {
                            color: $red-color;
                            font-weight: 700;
                        }
                    }
                }
            }&:last-child {
                h4 {
                    margin-bottom: 14px;
                }
                form {
                    label {
                        font-size: 1.13rem;
                    }
                    
                    input {
                        width: 100%;
                        background-color: $light-grey-color;
                        height: 3rem;
                        margin-bottom: 14px;
                        margin-top: 10px;
                        border: none;
                    }
                    a {
                        padding: 15px 24px;
                        background-color: $red-color;
                        color: $white-colour;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

footer {
    padding: 34px 24px 65px 24px;
    background-color: $light-grey-color;

    div:first-of-type {
        padding-bottom: 49px;
        p {
            margin-top: 26px;
            padding-right: 61px;
        }
    }
    div:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;

        div:nth-of-type(2) {
            display: block;
        }
        ul {
            margin-top: 21px;
            li {
                margin: 10px 0;
                font-size: 1rem;
                color: $black-color;
            }
        }
    }

}

.twitter-icon {
    height: 1rem;
    width: 1rem;
    fill: $black-color;
    border: 1px solid $black-color;
    // border-radius: 50%;
    // padding: 2px;
    margin-right: 10px;
    flex: 0 0 auto;
    // margin-top: .1rem;
}